/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

$my-primary: mat.define-palette(mat.$cyan-palette, 600);
$my-accent: mat.define-palette(mat.$deep-purple-palette, A400, A200, A700);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent
  ),
  typography: mat.define-typography-config(),
  density: -3,
));

@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
