<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav #sidenav [mode]="isScreenSmall ? 'over' : 'side'"
               [opened]="!isScreenSmall"
               class="app-sidenav mat-elevation-z10">
    <mat-toolbar color="primary" class="toolbar-menu">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item routerLink="dashboard">Dashboard</mat-list-item>
      <mat-list-item routerLink="teams">Teams</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-sidenav-container>
